{% extends "pdfs/_pdf_base.html" %}
{% block title %}Anexo V - Termo de Sigilo e Confidencialidade{% endblock %}
{% block heading %}ANEXO V – TERMO DE SIGILO E CONFIDENCIALIDADE{% endblock %}
{% block body %}

{% set p = pa.profile %}

<p class="text-justify" style="margin-top:10pt;">
  Eu, <strong>{{ pa.name }}</strong>,
  CPF nº <strong>{{ p.cpf if p else '_________________________' }}</strong>,
  RG nº <strong>{{ p.rg if p else '_________________________' }}</strong>,
  ocupante do cargo de <strong>{{ p.occupation if p else '____________________________' }}</strong>,
  assumo o compromisso de manter sigilo e confidencialidade sobre todas as informações
  técnicas, científicas e outras relacionadas ao projeto
  <strong>"{{ pi.title }}"</strong>
  a que tiver acesso durante todo o seu processo de elaboração, execução e proteção.
</p>

<p class="text-justify" style="margin-top:10pt;">
  Por este termo de confidencialidade e sigilo comprometo-me:
</p>

<p class="text-justify" style="margin-left:0;">
  a) a manter sigilo, tanto escrito como verbal, ou por qualquer outra forma, de todos
  os dados, informações científicas e técnicas e, sobre todos os materiais obtidos com
  sua participação, podendo incluir, mas não se limitando a técnicas, desenhos, cópias,
  diagramas, fórmulas, modelos, amostras, fluxogramas, croquis, fotografias, plantas,
  programas de computador, discos, disquetes, processos, projetos, dentre outros;
</p>
<p class="text-justify" style="margin-left:0;">
  b) a não revelar, reproduzir, utilizar ou dar conhecimento, em hipótese alguma, a
  terceiros, de dados, informações científicas ou materiais obtidos com sua participação,
  sem a prévia análise do Núcleo de Inovação Tecnológica (NIT) do Instituto Federal de
  Educação, Ciência e Tecnologia de Mato Grosso do Sul (IFMS) sobre a possibilidade de
  proteção, nos órgãos especializados, dos resultados ou tecnologia envolvendo aquela
  informação;
</p>
<p class="text-justify" style="margin-left:0;">
  c) a não tomar, sem autorização do IFMS, qualquer medida com vistas a obter para si ou
  para terceiros, os direitos de propriedade intelectual relativos às informações sigilosas
  a que tenha acesso;
</p>
<p class="text-justify" style="margin-left:0;">
  d) concordar que toda tecnologia e informações relativas ao produto em análise existentes
  até o presente momento são de propriedade do IFMS.
</p>

<p class="text-justify" style="margin-top:10pt;">
  O presente Termo de Sigilo e Confidencialidade tem natureza irrevogável e irretratável e
  sua validade estará vigente até que seja encerrado o processo de proteção intelectual e/ou
  publicação pelo(s) autor(es) e/ou IFMS. Pelo não cumprimento do presente Termo, fica o
  abaixo assinado ciente de que estará sujeito a todas as sanções administrativas, civis e
  judiciais cabíveis, conforme legislação vigente.
</p>

<p class="date-line">
  Três Lagoas – MS,
  {% if pa.completed_at %}
    {{ pa.completed_at|fdate_ms }}.
  {% else %}
    ______ de ______________ de 20____.
  {% endif %}
</p>

<div class="signature-block">
  <br><br>
  <div class="sig-line">{{ pa.name }}</div>
</div>

{% endblock %}
